<section class="forms">
    <form action="" method="post" class="log-in">
        <h1>SIGN UP</h1>
        <div class="form-content">
            <div class="login">
                <div>
                    <input type="text" name="username" class="input" placeholder="username">
                </div>
                <div>
                    <input type="password" name="password" class="input" placeholder="password">
                </div>
                <div>
                    <input type="email" name="email" class="input" placeholder="email">
                </div>
            </div>
            <div class="option">
                <div>
                    <input type="checkbox" name="checkbox" id="checkbox">Me rappeler
                </div>
                <div>
                    <a routerLink="/signin">Forget?</a>
                </div>
            </div>
            <div class="button">
                <button type="submit">SIGN UP</button>
            </div>
        </div>
    </form>
</section>