<div class="nav-bar container">
    <div class="nav-links">
            <ul>
                <li><a href="">Portfolio</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">My blog</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Contact me</a></li>
            </ul>
    </div>
    <div class="schedule">
        <i class="fa-solid fa-phone"></i>
        <a href="">Schedule a Call</a>
    </div>
</div>

<div class="presentation container">
    <div class="details">
        <p>Hi There,</p>
        <h1>I am Ven<span style="color:red">i</span>ssa</h1>
        <p><b>I am designer during daytime</b></p>
        <p>&work with batman during nights.</p>

        <button type="button" routerLink="/signin">Sign In</button>
    </div>
    <div class="image">
    </div>
</div>


<footer>
    <div class="items container">
        <div id="item">
            <p><b>Email</b></p>
            <a href="" class="item">venissa@gmail.com</a>
        </div>
        <div id="item">
            <p><b>Phone</b></p>
            <a href="" class="item">+190-300-444-5555</a>
        </div>
        <div id="item">
            <p><b>Location</b></p>
            <a href="" class="item">GothamCity.Arktham</a>
        </div>
    </div>
</footer>